01__Postgres_Chat_Memory (1).json
{
  "name": "01. Postgres-Chat-Memory",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.content }}",
        "options": {
          "systemMessage": "=# OVERVIEW\nBạn là một nhân viên bán hàng. Nhiệm vụ của bạn là tiếp nhận thông tin đặt hàng từ khách hàng và cập nhật thông tin này vào Google Sheet bằng công cụ `Google Sheets_Them`.\n\nMỗi đơn hàng cần có các thông tin sau:\n1. **Tên khách hàng** (bắt buộc)\n2. **Sản phẩm muốn mua** (bắt buộc)\n3. **Giá sản phẩm** (bắt buộc)\n\n# TOOLS\n+ Google Sheets_Them: sử dụng công cụ này để cập nhật thông tin đặt hàng vào Google Sheet, với các trường sau:\n  - `Tên khách hàng`\n  - `Đặt hàng gì`\n  - `Số tiền`\n\n# RULES\n- Nếu người dùng cung cấp đầy đủ **tên**, **sản phẩm**, và **giá**, hãy sử dụng `Google Sheets_Them` để cập nhật ngay lập tức vào Google Sheet.\n- Nếu còn thiếu bất kỳ trường nào, hãy hỏi lại khách hàng để bổ sung đủ thông tin trước khi tiến hành cập nhật.\n- Chỉ cập nhật một lần duy nhất cho mỗi đơn hàng.\n\n# OUTPUT FORMAT\nKhi có đủ thông tin, bạn **phải sử dụng `format_final_json_response`** theo đúng định dạng sau:\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        700,
        0
      ],
      "id": "afdc8631-cb34-43c3-9957-d0702a422b9b",
      "name": "AI Agent",
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        220
      ],
      "id": "fd3f9916-6605-4405-bba8-55e58f4e6d67",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "GalKRUKkED3gQn2t",
          "name": "OpenAi account 9"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "892bce99-a964-4a88-935f-7a05d7dec37b",
              "leftValue": "={{ $json.data.dName }}",
              "rightValue": "={{ $json.data.dName }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "8e60fbb0-cff6-4b0c-a72b-204f04137094",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('If').item.json.data.uidFrom }}",
        "tableName": "=n8n_chat_histories",
        "contextWindowLength": "={{ 5 }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        680,
        260
      ],
      "id": "e6573664-43c9-473c-b57b-1dfd2995c51a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "T6n4QNnScF7E325U",
          "name": "Postgres account 7"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalo-user-v2.zaloUserLogin",
      "typeVersion": 3,
      "position": [
        20,
        -200
      ],
      "id": "0e0a0020-f0e0-49ca-bce7-1d2926302ec8",
      "name": "Zalo Login Via QR Code",
      "credentials": {
        "n8nApi": {
          "id": "wysrQZSaXwm4i29U",
          "name": "n8n account 13"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalo-user-v2.zaloUser",
      "typeVersion": 2,
      "position": [
        -20,
        0
      ],
      "id": "9be63c22-345a-46b7-a7ee-ad72584aad53",
      "name": "Zalo User Trigger",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "FRPLEqOJGUMpVUx6",
          "name": "Zalo David +84359216863 - 2025-07-14T02:22:53.502Z"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "26d415a2-6649-4539-afa4-e0dd672e5662",
              "leftValue": "={{ $json.isSelf }}",
              "rightValue": "Anh Lập Trình Thứ Hai",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "6cc2447e-58a1-458c-8927-a4d2b2386801",
      "name": "Nếu bot gửi lại tin nhắn"
    },
    {
      "parameters": {
        "threadId": "={{ $('Zalo User Trigger').item.json.data.uidFrom }}",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-zalo-user-v2.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1060,
        0
      ],
      "id": "6deca674-8924-4ef6-a55e-6cc31dc3aaba",
      "name": "Zalo User Interact",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "FRPLEqOJGUMpVUx6",
          "name": "Zalo David +84359216863 - 2025-07-14T02:22:53.502Z"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J8V2RYcxdg_lLMVNSW8coDU-EavsfXM7C5GDKp6aaKo",
          "mode": "list",
          "cachedResultName": "05.Ghi lại cuộc Trò Chuyện N8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J8V2RYcxdg_lLMVNSW8coDU-EavsfXM7C5GDKp6aaKo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J8V2RYcxdg_lLMVNSW8coDU-EavsfXM7C5GDKp6aaKo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Zalo User Trigger').item.json.data.uidFrom }}-{{ $('If').item.json.data.dName }}",
            "Đặt hàng Gì ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('__t_h_ng_G__', `Xem hội thoại với khàng hàng, họ muốn đặt tên sản phẩm là gì thì cập nhật vào`, 'string') }}",
            "Tên khách hàng": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('T_n_kh_ch_h_ng', `Dựa vào đoạn chat với người sử dụng để biết được tên khách hàng`, 'string') }}",
            "Số tiền": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('S__ti_n', `Họ nói số tiền họ trả cho món hàng đó bao nhiu thì bạn cập nhật vô`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tên khách hàng",
              "displayName": "Tên khách hàng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Đặt hàng Gì ",
              "displayName": "Đặt hàng Gì ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số tiền",
              "displayName": "Số tiền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        920,
        260
      ],
      "id": "55ebc683-e3dc-4ba8-a804-c415cd072aae",
      "name": "Google Sheets_Them",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "X1LPRzEIroSbLK5Q",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Zalo User Trigger": {
      "main": [
        [
          {
            "node": "Nếu bot gửi lại tin nhắn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Zalo User Interact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nếu bot gửi lại tin nhắn": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets_Them": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1e4d554-dc76-4892-8726-7e39e8078661",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94a383c02457267bcc44878635a0fa02b7d3206c5479bfc8890faa812e2bbd97"
  },
  "id": "ZJ5vIc0xLLAWdZvx",
  "tags": []
}